/fourthClassDIT102/nbproject/private/
/fourthClassDIT102/build/
/chat_javaProj/build/
/fifthClassDIT102/nbproject/private/
/fifthClassDIT102/build/
/sixClassDIT102/nbproject/private/
/sixClassDIT102/build/
/chat_javaProj/dist/
/eightClassDIT102/nbproject/private/
/eightClassDIT102/build/
/nineClassDIT102/nbproject/private/
/nineClassDIT102/build/
/XclassDIT102/nbproject/private/
/XclassDIT102/build/
/XIclassDIT102/nbproject/private/
/XIclassDIT102/build/
/proveSQLskill/nbproject/private/
/proveSQLskill/build/
